<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>VARE APP Shop Product</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include("partials/icon") %>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/custom-font.css" />
    <style>
      .product-gallery__nav-image--single {
        width: 70px;
      }
      .product-gallery__nav-image--single img {
        width: 70px;
        border: 1px solid #c2080f;
      }
      .product-gallery__image img {
        width: auto !important;
        height: 500px !important;
      }
      .product-inner .product-image a img {
        height: 300px;
        margin: 0 0 18px;
        object-fit: scale-down;
        transform: scale(1);
        transition-duration: 0.4s;
      }
      @media (max-width: 768px) {
        .product-gallery__image {
          height: 500px !important;
        }
        .product-gallery__image img {
          /* width: 100%; */
          height: 500px !important;
          margin: auto;
        }
        .slick-list.draggable figure.product-gallery__nav-image--single {
          width: auto !important;
        } 
      }
    </style>
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <!-- Header Start -->
      <%- include("partials/header2",menu) %>
      <!-- Header End -->

      <!-- Breadcrumb area Start -->
      <div class="breadcrumb-area bg-color ptb--40" data-bg-color="#f6f6f6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-sm-row flex-column
                "
              >
                <h3 class="page-title">Shop Product</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb area End -->

      <!-- Main Content Wrapper Start -->
      <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
          <div class="container">
            <div class="row g-0 mb--80">
              <div class="col-lg-7 product-main-image">
                <div class="product-image">
                  <div class="product-gallery vertical-slide-nav">
                    <div class="product-gallery__large-image mb-md--30">
                      <div class="product-gallery__wrapper">
                        <div
                          class="zakas-element-carousel main-slider image-popup"
                          data-slick-options='{
                                                "slidesToShow": 1,
                                                "slidesToScroll": 1,
                                                "infinite": true,
                                                "arrows": false, 
                                                "asNavFor": ".nav-slider"
                                            }'
                        >
                          <% for(var i=0; i < result.image_url.length; i++) { %>
                          <figure class="product-gallery__image ">
                            <img
                              src="<%= result.image_url[i] %>"
                              alt="Productss"
                            />
                          </figure>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="product-gallery__nav-image">
                      <div
                        class="
                          zakas-element-carousel
                          nav-slider
                          slick-vertical
                          product-slide-nav
                        "
                        data-slick-options='{
                                            "spaceBetween": "30px",
                                            "slidesToShow": 3,
                                            "slidesToScroll": 1,
                                            "vertical": true,
                                            "swipe": true,
                                            "verticalSwiping": true,
                                            "infinite": true,
                                            "focusOnSelect": true,
                                            "asNavFor": ".main-slider",
                                            "arrows": true, 
                                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-up" },
                                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-down" }
                                        }'
                        data-slick-responsive='[
                                            {
                                                "breakpoint":767, 
                                                "settings": {
                                                    "slidesToShow": 4,
                                                    "vertical": false
                                                } 
                                            },
                                            {
                                                "breakpoint":575, 
                                                "settings": {
                                                    "slidesToShow": 3,
                                                    "vertical": false
                                                } 
                                            },
                                            {
                                                "breakpoint":480, 
                                                "settings": {
                                                    "slidesToShow": 2,
                                                    "vertical": false
                                                } 
                                            }
                                        ]'
                      >
                        <% for(var i=0; i < result.image_url.length; i++) { %>
                        <figure class="product-gallery__nav-image--single">
                          <img
                            src="<%= result.image_url[i] %>"
                            alt="Products"
                          />
                        </figure>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <!-- <span class="product-badge sale">Sale</span> -->
                </div>
              </div>
              <div
                class="
                  col-xl-4
                  offset-xl-1
                  col-lg-5
                  product-main-details
                  mt-md--50
                "
              >
                <div class="product-summary pl-lg--30 pl-md--0">
                  <div class="product-navigation text-end mb--20">
                    <!-- <a href="#" class="prev"><i class="fa fa-angle-double-left"></i></a>F -->
                    <!-- <a href="#" class="next"><i class="fa fa-angle-double-right"></i></a> -->
                  </div>
                  <div class="product-rating d-flex mb--20"></div>
                  <h3 class="product-title mb--20"><%= result.name %></h3>
                  <p class="product-short-description mb--20">
                    <%= result.shortdescription %>
                  </p>
                  <div class="product-price-wrapper mb--25">
                    <span class="money"
                      ><span class="our-price price-format"
                        ><%= result.mrp %></span
                      ></span
                    >
                    <span class="price-separator">-</span>
                    <span class="money">
                      <span class="mrp-strike mrp-price price-format"
                        ><%= result.ourprice %>
                      </span></span
                    >
                  </div>
                  <form action="#" class="variation-form mb--20">
                    <div
                      class="
                        product-size-variations
                        d-flex
                        align-items-center
                        mb--15
                      "
                    >
                      <p class="variation-label">Size:</p>
                      <div class="product-size-variation variation-wrapper">
                        <div class="variation">
                          <a
                            class="product-size-variation-btn"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="S"
                          >
                            <span class="product-size-variation-label">S</span>
                          </a>
                        </div>
                        <div class="variation">
                          <a
                            class="product-size-variation-btn"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="M"
                          >
                            <span class="product-size-variation-label">M</span>
                          </a>
                        </div>
                        <div class="variation">
                          <a
                            class="product-size-variation-btn"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="L"
                          >
                            <span class="product-size-variation-label">L</span>
                          </a>
                        </div>
                        <div class="variation">
                          <a
                            class="product-size-variation-btn"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="XL"
                          >
                            <span class="product-size-variation-label">XL</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- <div class="product-price-wrapper mb--30">
                    <span class="money">Mrp:
                        <span class="price-format"><%= result.mrp %></span>
                    </span>
                    <span class="money">Our Price:
                      <span class="price-format"><%= result.ourprice %> </span>
                    </span>
                    <br>
                    
                </div> -->
                  <div
                    class="
                      product-action
                      d-flex
                      flex-sm-row
                      align-items-sm-center align-items-start
                      mb--30
                    "
                  >
                    <button
                      type="button"
                      class="
                        btn btn-small btn-bg-red btn-color-white btn-hover-2
                      "
                      onclick="storeLink('play')"
                    >
                      Buy in playstore
                    </button>
                    &nbsp;&nbsp;
                    <button
                      type="button"
                      class="
                        btn btn-small btn-bg-red btn-color-white btn-hover-2
                      "
                      onclick="storeLink('app')"
                    >
                      Buy in App Store
                    </button>
                  </div>
                  <!-- <div class="product-footer-meta">
                    <p>
                      <span>Category:</span>
                      <% for(var j=0; j < result.category.length; j++) { %>
                      <a
                        href="/shopnow?pageNo=1&&category=/<%= result.category[j] %>"
                      >
                        <%= result.category[j] %></a
                      >
                      <% if(result.category.length > 1) { %> <%
                      if(result.category.length-1 != 0) { %> , <%} %> <%} %> <%
                      } %>
                    </p>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row justify-content-center mb--80">
              <div class="col-12">
                <div class="product-data-tab tab-style-3">
                  <div
                    class="nav nav-tabs product-data-tab__head mb--35 mb-sm--25"
                    id="product-tab"
                    role="tablist"
                  >
                    <button
                      type="button"
                      class="product-data-tab__link nav-link active"
                      id="nav-description-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-description"
                      role="tab"
                      aria-selected="true"
                    >
                      <span>Description</span>
                    </button>
                    <!-- <button type="button" class="product-data-tab__link nav-link" id="nav-info-tab" data-bs-toggle="tab"
                      data-bs-target="#nav-info" role="tab" aria-selected="true">
                      <span>Additional Information</span>
                    </button> -->
                  </div>
                  <div
                    class="tab-content product-data-tab__content"
                    id="product-tabContent"
                  >
                    <div
                      class="tab-pane fade show active"
                      id="nav-description"
                      role="tabpanel"
                      aria-labelledby="nav-description-tab"
                    >
                      <div class="product-description">
                        <div id="blog-htmlview"></div>
                      </div>
                    </div>
                    <div
                      class="tab-pane"
                      id="nav-info"
                      role="tabpanel"
                      aria-labelledby="nav-info-tab"
                    >
                      <div class="table-content table-responsive">
                        <table class="table shop_attributes">
                          <tbody>
                            <tr>
                              <th>Weight</th>
                              <td>57 kg</td>
                            </tr>
                            <tr>
                              <th>Dimensions</th>
                              <td>160 × 152 × 110 cm</td>
                            </tr>
                            <tr>
                              <th>Color</th>
                              <td>
                                <a href="shop.html">Black</a>,
                                <a href="shop.html">Gray</a>,
                                <a href="shop.html">Red</a>,
                                <a href="shop.html">Violet</a>,
                                <a href="shop.html">Yellow</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="nav-reviews"
                      role="tabpanel"
                      aria-labelledby="nav-reviews-tab"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row mb--50">
                  <div class="col-12 text-center">
                    <h2 class="heading__secondary">Related Products</h2>
                  </div>
                </div>
                <div class="row" id="related-prods"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content Wrapper End -->

      <!-- Footer Start-->
      <%- include("partials/footer") %>
      <!-- Footer End-->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->

      <!-- Qicuk View Modal Start -->
      <div
        class="modal fade product-modal"
        id="productModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><i class="flaticon flaticon-cross"></i
                ></span>
              </button>
              <div class="row">
                <div class="col-lg-6">
                  <div
                    class="zakas-element-carousel nav-vertical-center"
                    data-slick-options='{
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "arrows": true,
                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-double-left" },
                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-double-right" }
                        }'
                  ></div>
                </div>
                <div class="col-lg-6">
                  <div class="modal-box product-summary">
                    <div class="product-navigation text-end mb--20">
                      <a href="#" class="prev"
                        ><i class="fa fa-angle-double-left"></i
                      ></a>
                      <a href="#" class="next"
                        ><i class="fa fa-angle-double-right"></i
                      ></a>
                    </div>
                    <div class="product-rating d-flex mb--20">
                      <div class="star-rating star-three">
                        <span
                          >Rated <strong class="rating">5.00</strong> out of
                          5</span
                        >
                      </div>
                    </div>
                    <h3 class="product-title mb--20">Black Blazer</h3>
                    <p class="product-short-description mb--25">
                      Donec accumsan auctor iaculis. Sed suscipit arcu ligula,
                      at egestas magna molestie a. Proin ac ex maximus, ultrices
                      justo eget, sodales orci. Aliquam egestas libero ac turpis
                      pharetra, in vehicula lacus scelerisque. Vestibulum ut sem
                      laoreet, feugiat tellus at, hendrerit arcu.
                    </p>
                    <div class="product-price-wrapper mb--25">
                      <span class="money">$200.00</span>
                      <span class="price-separator">-</span>
                      <span class="money">$400.00</span>
                    </div>
                    <form action="#" class="variation-form mb--30">
                      <div
                        class="
                          product-color-variations
                          d-flex
                          align-items-center
                          mb--20
                        "
                      >
                        <p class="variation-label">Color:</p>
                        <div class="product-color-variation variation-wrapper">
                          <div class="variation">
                            <a
                              class="product-color-variation-btn red selected"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Red"
                            >
                              <span class="product-color-variation-label"
                                >Red</span
                              >
                            </a>
                          </div>
                          <div class="variation">
                            <a
                              class="product-color-variation-btn black"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Black"
                            >
                              <span class="product-color-variation-label"
                                >Black</span
                              >
                            </a>
                          </div>
                          <div class="variation">
                            <a
                              class="product-color-variation-btn pink"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Pink"
                            >
                              <span class="product-color-variation-label"
                                >Pink</span
                              >
                            </a>
                          </div>
                          <div class="variation">
                            <a
                              class="product-color-variation-btn blue"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Blue"
                            >
                              <span class="product-color-variation-label"
                                >Blue</span
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                      <div
                        class="
                          product-size-variations
                          d-flex
                          align-items-center
                          mb--15
                        "
                      >
                        <p class="variation-label">Size:</p>
                        <div class="product-size-variation variation-wrapper">
                          <div class="variation">
                            <a
                              class="product-size-variation-btn selected"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="S"
                            >
                              <span class="product-size-variation-label"
                                >S</span
                              >
                            </a>
                          </div>
                          <div class="variation">
                            <a
                              class="product-size-variation-btn"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="M"
                            >
                              <span class="product-size-variation-label"
                                >M</span
                              >
                            </a>
                          </div>
                          <div class="variation">
                            <a
                              class="product-size-variation-btn"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="L"
                            >
                              <span class="product-size-variation-label"
                                >L</span
                              >
                            </a>
                          </div>
                          <div class="variation">
                            <a
                              class="product-size-variation-btn"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="XL"
                            >
                              <span class="product-size-variation-label"
                                >XL</span
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="" class="reset_variations">Clear</a>
                    </form>
                    <div
                      class="
                        product-action
                        d-flex
                        flex-sm-row flex-column
                        align-items-sm-center align-items-start
                        mb--30
                      "
                    >
                      <div
                        class="
                          quantity-wrapper
                          d-flex
                          align-items-center
                          mr--30
                          mr-xs--0
                          mb-xs--30
                        "
                      >
                        <label class="quantity-label" for="qty"
                          >Quantity:</label
                        >
                        <div class="quantity">
                          <input
                            type="number"
                            class="quantity-input"
                            name="qty"
                            id="qty"
                            value="1"
                            min="1"
                          />
                        </div>
                      </div>
                      <button
                        type="button"
                        class="
                          btn btn-small btn-bg-red btn-color-white btn-hover-2
                        "
                        onclick="window.location.href='cart.html'"
                      >
                        Add To Cart
                      </button>
                    </div>
                    <div class="product-footer-meta">
                      <p>
                        <span>Category:</span>
                        <a href="shop.html">Full Sweater</a>,
                        <a href="shop.html">SweatShirt</a>,
                        <a href="shop.html">Jacket</a>,
                        <a href="shop.html">Blazer</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Qicuk View Modal End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/custom.js"></script>
    <script>
      // $(window).on("resize", function () {
      //   var screen = $(window);
      //   console.log(screen.width);
      //   if (screen.width < 768) {
      //     $(".product-gallery__image").removeClass("zoom");
      //   } else {
      //     $(".product-gallery__image").addClass("zoom");
      //   }
      //   // $(".product-gallery__image").toggleClass("zoom", $(window).width() < 768);
      // });
      $.ajax({
        url: `${window.location.href}?json=1`,
        success: function (result) {
          $("#blog-htmlview").html(result.data.longdescription);
        },
      });
      var data = {};
      data.category = "<%= result.category %>";

      var settings = {
        url: "https://k6u06d3vrf.execute-api.ap-south-1.amazonaws.com/dev/api/product/releated",
        method: "POST",
        data: data,
        timeout: 0,
        headers: {
          "x-user-auth":
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjkxOTcwMzIyMDk3NCIsInVzZXJJZCI6ImQzNmNlZDIwLTFkYjUtMTFlYy1hZmIwLWMzYzkzYzc4ZThmMyIsInZlbmRvcklkIjoiZTI3YWFmOTAtMjBlYS0xMWVjLWFjNzQtODkzMWZiOWIzMDYyIiwiaWF0IjoxNjM2MDk4MjkwLCJleHAiOjE2NTE2NTAyOTB9.AACiM1LpK0BWr1idSTn276mrbX78pDvutFxExxEGZ6I",
        },
      };
      function storeLink(item) {
        if (item == "play") {
          window.location.href = "";
          return;
        }
        window.location.href = "";
        return;
      }
      $.ajax(settings).done(function (response) {
        console.log(response);

        if (response.status) {
          $("#related-prods").html("");
          for (let i = 0; i < response.data.length; i++) {
            const element = response.data[i];
            $("#related-prods").append(`
            <div class="col-xl-4 col-lg-4 col-sm-6 mb--50">
                                                <div class="zakas-product">
                                                    <div class="product-inner">
                                                        <figure class="product-image">
                                                            <a href="/shopproduct/${element.productId}">

                                                                <img src="${element.image_url[0]} %>" alt="Products">
                                                            </a>
                                                         
                                                            <% if (i % 2 == 0) { %>
                                                            <span class="product-badge">New</span>
                                                            <% } %>
                                                        </figure>
                                                        <div class="product-info">
                                                            <h3 class="product-title mb--10" style="text-transform: capitalize;white-space: nowrap;
                                                            text-overflow: ellipsis;
                                                            overflow: hidden;">
                                                                <a href="/shopproduct/${element.productId}" >
                                                                    ${element.name} 
                                                                </a>
                                                            </h3>
                                                            <div class="product-price-wrapper mb--15">
                                                                <span class="money">  <span class="our-price price-format" >  ${element.ourprice} </span></span>
                                                                <span class="money-separator">-</span>
                                                                <span class="money"> <span class="mrp-strike price-format mrp-price">  ${element.mrp} </span></span>
                                                            </div>
                                                            <div class="product-brand mb--15">
                                                                                                                   
                                                                <span class="vare-brand">Brand :
                                                                    ${element.brand}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
        `);
          }
          $(".hide-temp").show();
        }
      });
    </script>
  </body>
</html>
