<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Vare APP Single Product</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include("partials/icon") %>
    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <%- include("partials/header2",menu) %>

      <!-- Breadcrumb area Start -->
      <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-sm-row flex-column
                "
              >
                <h1 class="page-title">Vare Blog Post</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb area End -->

      <!-- Main Content Wrapper Start -->
      <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
          <div class="container">
            <div class="row mb--75">
              <div class="col-lg-8 col-xl-9 order-lg-2 mb-md--50">
                <div class="single-post">
                  <!-- Single Blog Start Here -->
                  <article class="single-post-details">
                    <div class="entry-header">
                      <h2 class="entry-title"><%= result.title %></h2>
                      <div class="entry-meta mb--30">
                        <a href="/singlepostimage" class="posted-on"
                          >September 15, 2021</a
                        >
                        <span class="meta-separator">-</span>
                        <a href="/singlepostimage">Life Style</a>
                      </div>
                    </div>
                  
                  
                    <div id="blog-htmlview"></div>
                    <div class="entry-footer-meta">
                      <div class="tag-list">
                        <span>
                          <i class="fa fa-tags"></i>
                        </span>
                        <span>
                          <a href="/singlepostimage">Business</a>,
                          <a href="/singlepostimage">Creative</a>,
                          <a href="/singlepostimage">Start-up</a>
                        </span>
                      </div>
                      <div class="author">
                        <span>
                          Author: <a href="/singlepostimage">John Snow</a>
                        </span>
                      </div>
                    </div>
                  </article>
                  <!-- Single Blog End Here -->

                  <!-- Social Sharing Icons Start Here -->
                  <div class="post-share">
                    <ul class="social social-sharing">
                      <li class="social__item">
                        <a
                          href=""
                          target="_blank"
                          rel="noopener"
                          class="social__link facebook"
                        >
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="social__item">
                        <a
                          href="https://twitter.com"
                          target="_blank"
                          rel="noopener"
                          class="social__link twitter"
                        >
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="social__item">
                        <a
                          href="https://plus.google.com"
                          target="_blank"
                          rel="noopener"
                          class="social__link pinterest"
                        >
                          <i class="fa fa-pinterest-p"></i>
                        </a>
                      </li>
                      <li class="social__item">
                        <a
                          href="https://plus.google.com"
                          target="_blank"
                          rel="noopener"
                          class="social__link google-plus"
                        >
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- Social Sharing Icons End Here -->

                

              
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 order-lg-1">
                <div class="sidebar-inner">
                  <div class="widget blog-widget widget-categories mb--40">
                    <h3 class="widget-title mb--25">Tags</h3>
                    <ul class="widget-list category-list">
                      <% for(var i=0; i < result.tags.length; i++) { %>
                      <li>
                        <a href="/blog/<%= result.tags[i] %>">
                          <span><%= result.tags[i] %></span>
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </li>

                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row mb--50">
                  <div class="col-12 text-center">
                    <h2 class="heading__secondary">Related Post</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div
                      class="zakas-element-carousel nav-vertical-center"
                      data-slick-options='{
                                        "spaceBetween": 30,
                                        "slidesToShow": 3,
                                        "slidesToScroll": 1,
                                        "arrows": true,
                                        "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-double-left" },
                                        "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-double-right" }
                                    }'
                      data-slick-responsive='[
                                        {"breakpoint":1199, "settings": {
                                            "slidesToShow": 2
                                        }},
                                        {"breakpoint":575, "settings": {
                                            "slidesToShow": 1
                                        }}
                                    ]'
                    >
                      <div class="item">
                        <article class="blog">
                          <div class="blog-media">
                            <figure class="image">
                              <a href="/singlepostimage">
                                <img
                                  src="/assets/img/products/fashion-model-in-stylish-snake-image-FZRQQTP.jpg"
                                  alt="Blog"
                                />
                              </a>
                            </figure>
                          </div>
                          <div class="blog-info">
                            <h2 class="blog-title">
                              <a href="/singlepostimage"
                                >She Belived She Could</a
                              >
                            </h2>
                            <div class="blog-meta">
                              <div class="blog-meta--left">
                                <a
                                  href="/singlepostimage"
                                  class="blog-meta-btn"
                                >
                                  <i class="fa fa-comment-o"></i>
                                  <sup>05</sup>
                                </a>
                                <a
                                  href="/singlepostimage"
                                  class="blog-meta-btn"
                                >
                                  <i class="fa fa-heart-o"></i>
                                  <sup>06</sup>
                                </a>
                              </div>
                              <div class="blog-meta--right">
                                <a
                                  href="/singlepostimage"
                                  class="btn btn-no-bg btn-color-dark"
                                  >Read More
                                  <i class="fa fa-angle-double-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="item">
                        <article class="blog">
                          <div class="blog-media">
                            <figure class="image">
                              <a href="/singlepostimage">
                                <img
                                  src="/assets/img/products/beautiful-fashion-model-CFR52B7.jpg"
                                  alt="Blog"
                                />
                              </a>
                            </figure>
                          </div>
                          <div class="blog-info">
                            <h2 class="blog-title">
                              <a href="/singlepostimage">Monday to Sunday</a>
                            </h2>
                            <div class="blog-meta">
                              <div class="blog-meta--left">
                                <a
                                  href="/singlepostimage"
                                  class="blog-meta-btn"
                                >
                                  <i class="fa fa-comment-o"></i>
                                  <sup>05</sup>
                                </a>
                                <a
                                  href="/singlepostimage"
                                  class="blog-meta-btn"
                                >
                                  <i class="fa fa-heart-o"></i>
                                  <sup>06</sup>
                                </a>
                              </div>
                              <div class="blog-meta--right">
                                <a
                                  href="/singlepostimage"
                                  class="btn btn-no-bg btn-color-dark"
                                  >Read More
                                  <i class="fa fa-angle-double-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="item">
                        <article class="blog">
                          <div class="blog-media">
                            <figure class="image">
                              <a href="/singlepostimage">
                                <img
                                  src="/assets/img/products/street-fashion-9FCAD6F.jpg"
                                  alt="Blog"
                                />
                              </a>
                            </figure>
                          </div>
                          <div class="blog-info">
                            <h2 class="blog-title">
                              <a href="/singlepostimage"
                                >Trade Show Promotions</a
                              >
                            </h2>
                            <div class="blog-meta">
                              <div class="blog-meta--left">
                                <a
                                  href="/singlepostimage"
                                  class="blog-meta-btn"
                                >
                                  <i class="fa fa-comment-o"></i>
                                  <sup>05</sup>
                                </a>
                                <a
                                  href="/singlepostimage"
                                  class="blog-meta-btn"
                                >
                                  <i class="fa fa-heart-o"></i>
                                  <sup>06</sup>
                                </a>
                              </div>
                              <div class="blog-meta--right">
                                <a
                                  href="/singlepostimage"
                                  class="btn btn-no-bg btn-color-dark"
                                  >Read More
                                  <i class="fa fa-angle-double-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content Wrapper Start -->

      <%- include("partials/footer") %>

      <!-- Searchform Popup Start -->
      <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"
          ><i class="flaticon flaticon-cross"></i
        ></a>
        <div class="searchform__body">
          <p>Start typing and press Enter to search</p>
          <form class="searchform">
            <input
              type="text"
              name="popup-search"
              id="popup-search"
              class="searchform__input"
              placeholder="Search Entire Store..."
            />
            <button type="submit" class="searchform__submit">
              <i class="flaticon flaticon-magnifying-glass-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- Searchform Popup End -->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
    <script>
      if (window.location.pathname.split("/")[1] == "singlepostimage") {
        $.ajax({
          url: `/singlepostimage/${window.location.pathname.split("/")[2]}?json=1`,
          success: function (result) {
            $("#blog-htmlview").html(result.result.rich_text_Editor);
          },
        });
      }
      $('.facebook').attr('href',`https://www.facebook.com/sharer/sharer.php?u=#${window.location.href}`);
      $('.twitter').attr('href',`https://twitter.com/intent/tweet?url=${window.location.href}`);
      $('.pinterest').attr('href',`https://www.facebook.com/sharer/sharer.php?u=#${window.location.href}`);

      console.log("DDDDDDD", $(".blog-html-text").html());
    </script>
  </body>
</html>
