<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Vare APP Blog</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include("partials/icon") %>
    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />

    <style>
      .blog-media .image a img {
        height: 250px;
    margin: 0 0 18px;
    object-fit: scale-down;
    transform: scale(1);
    transition-duration: 0.4s;
      }
    </style>
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <%- include("partials/header2",menu) %>

      <!-- Breadcrumb area Start -->
      <% if(result != null) {%>
      <div class="breadcrumb-area bg-color ptb--90" style="background-image: url('<%= result.coverimage %>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #cccccc;
      height: 250px
  ;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-sm-row flex-column
                "
              >
                <!-- <h1 class="page-title">Vare Blog Post</h1> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <!-- Breadcrumb area End -->

      <!-- Main Content Wrapper Start -->
      <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
          <div class="container">
            <div class="row mb--75">
              <% if(result != null) {%>
              <div class="col-lg-8 col-xl-9 order-lg-2 mb-md--50">
                <div class="single-post">
                  <!-- Single Blog Start Here -->
                  <article class="single-post-details">
                    <div class="entry-header">
                      <h2 class="entry-title"><%= result.title %></h2>
                      <div class="entry-meta mb--30">
                        <a href="/singlepostimage" class="posted-on"
                          >September 15, 2021</a
                        >
                        <span class="meta-separator">-</span>
                        <a href="/singlepostimage">Life Style</a>
                      </div>
                    </div>

                    <div id="blog-htmlview"></div>
                    <div class="entry-footer-meta">
                      <div class="tag-list">
                        <span>
                          <i class="fa fa-tags"></i>
                        </span>
                        <span>
                         
                          <% for(var i=0; i < result.tags.length; i++) { %>

                          <a href="/blog/<%= result.tags[i] %>">
                            <span><%= result.tags[i] %></span>
                            <i class="fa fa-angle-double-right"></i>
                          </a>
                          <% if(result.tags.length > 1) { %>
                            <% if(result.tags.length-1 != i) { %>
                            ,   
                                                       
                            <%} %> 
                         <%} %> 
                        <% } %>
                        </span>
                      </div>
                      
                    </div>
                  </article>
                  <!-- Single Blog End Here -->

                  <!-- Social Sharing Icons Start Here -->
                  <div class="post-share">
                    <ul class="social social-sharing">
                      <li class="social__item">
                        <a
                          href=""
                          target="_blank"
                          rel="noopener"
                          class="social__link facebook"
                        >
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="social__item">
                        <a
                          href="https://twitter.com"
                          target="_blank"
                          rel="noopener"
                          class="social__link twitter"
                        >
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="social__item">
                        <a
                          href="https://plus.google.com"
                          target="_blank"
                          rel="noopener"
                          class="social__link pinterest"
                        >
                          <i class="fa fa-pinterest-p"></i>
                        </a>
                      </li>
                      <li class="social__item">
                        <a
                          href="https://plus.google.com"
                          target="_blank"
                          rel="noopener"
                          class="social__link google-plus"
                        >
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- Social Sharing Icons End Here -->
                </div>
              </div> <% }else { %>
                <div class="col-lg-8 col-xl-9 order-lg-2 mb-md--50">
                  <div class="single-post">
                    <!-- Single Blog Start Here -->
                    <article class="single-post-details">
                      <div class="entry-header">
                        <h2 class="entry-title">No Blog</h2>
                      </div></article>
                      </div>
                      </div>
            
                        <% }%>
              <div class="col-xl-3 col-lg-4 order-lg-1">
                <div class="sidebar-inner">
                  <div class="widget blog-widget widget-categories mb--40">
                    <h3 class="widget-title mb--25">Tags</h3>
                    <ul class="widget-list category-list" id="cat-list"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row mb--50">
                  <div class="col-12 text-center">
                    <h2 class="heading__secondary">Related Post</h2>
                  </div>
                </div>
                <div class="row " id="related-blogs">
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content Wrapper Start -->

      <%- include("partials/footer") %>

      <!-- Searchform Popup Start -->
      <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"
          ><i class="flaticon flaticon-cross"></i
        ></a>
        <div class="searchform__body">
          <p>Start typing and press Enter to search</p>
          <form class="searchform">
            <input
              type="text"
              name="popup-search"
              id="popup-search"
              class="searchform__input"
              placeholder="Search Entire Store..."
            />
            <button type="submit" class="searchform__submit">
              <i class="flaticon flaticon-magnifying-glass-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- Searchform Popup End -->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
    <script>
      $('.hide-temp').hide();
      if (window.location.pathname.split("/")[1] == "singlepostimage") {
        $.ajax({
          url: `/singlepostimage/${
            window.location.pathname.split("/")[2]
          }?json=1`,
          success: function (result) {
            $("#blog-htmlview").html(result.result.rich_text_Editor);
          },
        });
      }
      $(".facebook").attr(
        "href",
        `https://www.facebook.com/sharer/sharer.php?u=#${window.location.href}`
      );
      $(".twitter").attr(
        "href",
        `https://twitter.com/intent/tweet?url=${window.location.href}`
      );
      $(".pinterest").attr(
        "href",
        `https://www.facebook.com/sharer/sharer.php?u=#${window.location.href}`
      );

      var settings = {
        url: "https://k6u06d3vrf.execute-api.ap-south-1.amazonaws.com/dev/api/blog/tags",
        method: "POST",
        timeout: 0,
        headers: {
          "x-user-auth":
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjkxOTcwMzIyMDk3NCIsInVzZXJJZCI6ImQzNmNlZDIwLTFkYjUtMTFlYy1hZmIwLWMzYzkzYzc4ZThmMyIsInZlbmRvcklkIjoiZTI3YWFmOTAtMjBlYS0xMWVjLWFjNzQtODkzMWZiOWIzMDYyIiwiaWF0IjoxNjM2MDk4MjkwLCJleHAiOjE2NTE2NTAyOTB9.AACiM1LpK0BWr1idSTn276mrbX78pDvutFxExxEGZ6I",
        },
      };

      $.ajax(settings).done(function (response) {
        if (response.status) {
          for (let i = 0; i < response.data.length; i++) {
            const element = response.data[i];
            $("#cat-list").append(`
          <li>
                        <a href="/singlepostimage/${element._id}">
                          <span>${element.tag}</span>
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </li>
          `);
          }
        }
      });

      var settings = {
        url: "https://k6u06d3vrf.execute-api.ap-south-1.amazonaws.com/dev/api/blog/latestblogs",
        method: "POST",
        timeout: 0,
        headers: {
          "x-user-auth":
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjkxOTcwMzIyMDk3NCIsInVzZXJJZCI6ImQzNmNlZDIwLTFkYjUtMTFlYy1hZmIwLWMzYzkzYzc4ZThmMyIsInZlbmRvcklkIjoiZTI3YWFmOTAtMjBlYS0xMWVjLWFjNzQtODkzMWZiOWIzMDYyIiwiaWF0IjoxNjM2MDk4MjkwLCJleHAiOjE2NTE2NTAyOTB9.AACiM1LpK0BWr1idSTn276mrbX78pDvutFxExxEGZ6I",
        },
      };

      $.ajax(settings).done(function (response) {
        console.log(response);
        if (response.status) {
          for (let i = 0; i < response.data.length; i++) {
            const element = response.data[i];
            $("#related-blogs").append(`
              <div class="item col-xl-4 col-lg-4 col-md-6">
                        <article class="blog">
                          <div class="blog-media">
                            <figure class="image">
                              <a href="/singlepostimage/${element._id}">
                                <img  src="${element.coverimage}"
                                  alt="Blog"
                                />
                              </a>
                            </figure>
                          </div>
                          <div class="blog-info">
                            <h5 class="blog-title" style="font-size:15px">
                              <a href="/singlepostimage/${element._id}"
                                >${element.title}</a
                              >
                            </h5>
                            <div class="blog-meta">
                            
                              <div class="blog-meta--right">
                                <a
                                  href="/singlepostimage/${element._id}"
                                  class="btn btn-no-bg btn-color-dark"
                                  >Read More
                                  <i class="fa fa-angle-double-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
        `);

          }
          $('.hide-temp').show();
        }
      });
    </script>
  </body>
</html>
